* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d2d4f;
}

.box {
    margin: 32px;
    width: 300px;
    height: 300px;
    padding: 32px;

    background-color: #ffffff;
}

.heart {
    margin:70px;
    width: 100px;
    height: 100px;
    background: #ea2027;
    position: relative;
    transform: rotate(45deg);
  }

  .heart::before, .heart::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: #ea2027;
  }

  .heart::before {
    left: -50%;
  }

  .heart::after {
    top: -50%;
  }

.circle {
    width: 200px;
    height: 200px;
    margin: 50px;
    background-color: #ffffff;
    border-radius: 999999px;
}

.oval{
    margin: 50px;
    width: 200px;
    height: 100px;
    background: pink;
    border-radius: 100px / 50px;
}

.triangle-up {
    margin: 50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid pink;
  }